<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Mis tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (tasks.length > 0){
    <ion-list>
      @for (task of tasks; track task.id){
        <ion-item>
          <ion-label>
            <h2>{{task.titulo}}</h2>
            <p>{{task.descripcion}}</p>
            <p><strong>Categoria: </strong>{{task.categoria || 'Sin categoria'}}</p>
            <ion-badge>{{task.prioridad}}</ion-badge>
             <ion-badge>{{task.estado}}</ion-badge>

          </ion-label>

          <ion-select
          ion-select="popover"
          [value]="task.estado"
          (ionChange)="cambiarEstado(task.id,$event.detail.value)">
        <ion-select-option value="pendiente">Pendiente</ion-select-option>
        <ion-select-option value="en progreso">En progreso</ion-select-option>
        <ion-select-option value="listo">Listo</ion-select-option>
          </ion-select>
          <ion-buttons slot="end">
            <ion-button color="danger" (click)="eliminar(task.id)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
            </ion-buttons>
        </ion-item>
      }

    </ion-list>
    }@else {
      <p class="ion-text-center">No hay tareas regisradas.</p>
    }
  <ion-content>