<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nueva Tarea
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="" ion-padding>
  <ion-item>
    <ion-input label="Titulo" labelPlacement="stacked" [(ngModel)]="form.titulo"
      placeholder="Ingrese el titular"></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea label="Descripcion" labelPlacement="stacked" [(ngModel)]="form.Descripcion"
      placeholder="Ingrese la descripcion"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-imput type="date" label="Fecha Limite" labelPlacement="stacked" [(ngModel)]="form.fechaLimite"></ion-imput>
  </ion-item>
  <ion-item>
    <ion-imput type="date" label="Fecha Limite" labelPlacement="stacked" [(ngModel)]="form. Fecha Limite"  
    ></ion-imput>
  </ion-item>
  <ion-buttom expand="block" class="ion-margin-top" (click)="guardar()">
    Guardar Tarea
    </ion-buttom>
    <ion-toast [isOpen]="mostrarToast" [message]="mensajeToast" duration="2000" (didDismiss)
    ="mostrarToast = false">
    </ion-toast
    >
</ion-content>