<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nueva Tarea
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="" ion-padding>
  <ion-item>
    <ion-input label="Titulo" labelPlacement="stacked" [(ngModel)]="form.titulo"
      placeholder="Ingrese el titular"></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea label="Descripcion" labelPlacement="stacked" [(ngModel)]="form.descripcion"
      placeholder="Ingrese la descripcion"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-input type="date" label="Fecha Limite" labelPlacement="stacked" [(ngModel)]="form.fechaLimite"></ion-input>
  </ion-item>

  <ion-item>
    <ion-select label="Estado" labelPlacement="stacked" [(ngModel)]="form.estado">
      <ion-select-option value="pendiente">Pendiente</ion-select-option>
      <ion-select-option value="en progreso">En progreso</ion-select-option>
      <ion-select-option value="listo">Listo</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-select label="prioridad" labelPlacement="stacked" [(ngModel)]="form.prioridad">
      <ion-select-option value="baja">Baja</ion-select-option>
      <ion-select-option value="media">Media</ion-select-option>
      <ion-select-option value="alta">Alta</ion-select-option>
      </ion-select>
  </ion-item>

  <ion-item>
    <ion-input type="Categoria" label="Categoria" labelPlacement="stacked" [(ngModel)]="form.fechaLimite"  
    ></ion-input>
  </ion-item>
  <ion-button expand="block" class="ion-margin-top" (click)="guardar()">
    Guardar Tarea
  </ion-button>
  <ion-toast [isOpen]="mostrarToast" [message]="mensajeToast" duration="2000" (didDismiss)="mostrarToast = false">
  </ion-toast>
</ion-content>